<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <i class="fa-solid fa-users"></i>
      </div>
      <div class="value">
        <div class="top">{{ totalUsers }}</div>
        <div class="bottom">{{'Users' | translate}}</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <i class="fa-solid fa-folder-open"></i>
      </div>
      <div class="value">
        <div class="top">{{ totalProjetos }}</div>
        <div class="bottom">{{'Projects' | translate}}</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <div class="value">
        <div class="top">{{ totalTarefas }}</div>
        <div class="bottom">{{'Total Tasks' | translate}}</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <i class="fa-solid fa-code"></i>
      </div>
      <div class="value">
        <div class="top">{{ totalProgramadores }}</div>
        <div class="bottom">{{'Developers' | translate}}</div>
      </div>
    </div>
  </div>