
<div class="outer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">
          <i class="fa-solid fa-gear"></i> ProjectHub
        </a>
        <div class="d-flex align-items-center">
          <h5 class="custom-text" style="margin-right: 20px;">{{ 'Hi' | translate }}, {{ userNome }}!</h5>
          <button class="btn btn-custom" (click)="logout()">{{ 'Sign out' | translate }}</button>
        </div>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="main-container">
        <div class="side-nav">
            <app-side-nav></app-side-nav>
        </div>
        <div class="main">
            <div class="container my-5">
                <h2 class="mb-3 text-center">{{'Delete User' | translate}}</h2>
                <br>
                <div class="row justify-content-center">
                  <div class="col-4">
                    <form #form="ngForm">
                      <div class="mb-3">
                        <label for="id" class="form-label form-label-left">ID</label>
                        <input type="text" class="form-control" id="id" readonly name="id" [(ngModel)]="userDetails.userID">
                      </div>
                      <div class="mb-3">
                        <label for="nome" class="form-label form-label-left">{{'Name' | translate}}</label>
                        <input type="text" class="form-control" id="nome" readonly name="nome" [(ngModel)]="userDetails.userNome" required>
                      </div>
                      <div class="mb-3">
                        <label for="perfil" class="form-label form-label-left">{{'Profile' | translate}}</label>
                        <input type="text" class="form-control" id="role" readonly name="role" [(ngModel)]="userDetails.role" required>
                      </div>
                      <div class="mb-3">
                        <label for="email" class="form-label form-label-left">Email</label>
                        <input type="email" class="form-control" id="email" readonly name="email" [(ngModel)]="userDetails.email" required>
                      </div>
                      <div class="mb-3">
                        <label for="telefone" class="form-label form-label-left">{{'Phone Number' | translate}}</label>
                        <input type="text" class="form-control" id="telefone" readonly name="telefone" [(ngModel)]="userDetails.telefone" required>
                      </div>
                      <a routerLink="/UtilizadoresDto" class="btn btn-secondary">{{'Cancel' | translate}}</a>
                      <button type="button" class="btn btn-danger ms-3" (click)="deleteUser(userDetails.userID)" [disabled]="!form.valid">{{'Delete' | translate}}</button>
                    </form>
                  </div>
                </div>
              </div>
              
        </div>
    </div>
    <footer class="footer bg-dark">
        <p>&copy; {{'2023 ProjectHub. All rights reserved.' | translate}}</p>
      </footer>
  </div>

